<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>src.java.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>src.java.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>src.java.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>src.java.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>src.java.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>src.java.controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>src.java.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>src.java.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>src.java.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>src.java.controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>src.java.controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>src.java.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromCartController</servlet-name>
        <servlet-class>src.java.controller.RemoveItemFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>src.java.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>src.java.controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>src.java.controller.AddCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlantController</servlet-name>
        <servlet-class>src.java.controller.AddPlantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>src.java.controller.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountStatusController</servlet-name>
        <servlet-class>src.java.controller.ChangeAccountStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlantController</servlet-name>
        <servlet-class>src.java.controller.UpdatePlantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>src.java.controller.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailControler</servlet-name>
        <servlet-class>src.java.controller.OrderDetailControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortOrder</servlet-name>
        <servlet-class>src.java.controller.SortOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/oldMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/addCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlantController</servlet-name>
        <url-pattern>/addplant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountStatusController</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlantController</servlet-name>
        <url-pattern>/updateplant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailControler</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortOrder</servlet-name>
        <url-pattern>/sortorder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>view/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
